/*
 * Bootstrap overrides, UI options and responsive CSS
 * Author: Vincent Lau, Asher Pasha (basic configurations at the beginning, mostly been deleted/overwritten);
 * Date: Winter 2017
 */

.navbar-brand, .navbar-nav, .navbar {
	margin-bottom: 0;
}

.navbar-brand, .navbar-nav li a {
	padding-top: 22px;
}

.gene-form {
	max-height: 40vh;
}

#cy {
	height: calc(100vh - 60px);
	height: -webkit-calc(100vh - 60px);
	height: -moz-calc(100vh - 60px);
	width: 100%;
	z-index: 999;
}

.qtip-bootstrap > .qtip-titlebar {
	font-size: 1.1rem;
}

.qtip-bootstrap > .qtip-content {
  font-family: "Bodoni MT", "Arial Black", "arial", "sans-serif";
  font-size: 1.75rem;
}

.qtip-bootstrap.q-tip-effector-node {
  background-color: lightcyan;
}

.qtip-bootstrap.q-tip-protein-node {
  background-color: lemonchiffon;
}

.pdi-table-scroll-pane {
	width: 100%;
	height: 80px; /* overflow property only works for block elements with a specified height. */
	overflow: auto;
}

/* These two CSS selectors are for centering larger modals such as the JSON and PNG export*/
.centered-modal.in {
	display: flex
}

.centered-modal .modal-dialog {
	margin: auto;
}

#PNGModal > .modal-dialog { /*To make it so the modal fills whole page*/
	width: 80vw;
}

#JSONModal > .modal-dialog {
	width: 75vw;
}

#JSONModal .modal-content {
	max-height: 100vh;
}

#JSONModal .modal-body {
	height: 80vh;
	overflow: auto;
}

/* loading spinner before app is loaded*/
#loading {
	position: absolute;
	display: block;
	top: calc(50% - 50px);
	width: 100%;
	text-align: center;
	font-size: 100px;
	color: #99cc00;
	z-index: 1000;
}

/*Hide the spinner now*/
#loading.loaded {
	display: none;
}

/*Make by default, the disabled checkboxes grey*/
.can-be-disabled {
	color: #ccc;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* buttons */
.button {
	/*padding: 10px;*/
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

/* end of buttons css*/

/* input number filters css */

input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}