/*
 * Bootstrap overrides 
 * Author: Asher
 * Date: July 2017
 */

.navbar-nav > li > a {
	padding-top: 22px;
}

#cy {
	height: 800px;
	width: 100%;
	position: relative;
	z-index: 999;
}

.qtip-tipped > .qtip-titlebar {
	font-size: 1.1rem;
}

.qtip-tipped > .qtip-content {
  font-family: "Bodoni MT", "Arial Black", "arial", "sans-serif";
  font-size: 1.75rem;
}

.qtip-bootstrap.q-tip-effector-node {
  background-color: lightcyan;
}

.qtip-bootstrap.q-tip-protein-node {
  background-color: lemonchiffon;
}